body {
background: rgb(173, 163, 163);
}
h2{
  text-align: center;
}
div{
  background-color: rgb(173, 163, 163);
}

.row {
  content: "";
  display: table;
  clear: both;
  background: rgb(173, 163, 163);
}
.column {
    float: left;
    width: 50%;
    background: rgb(173, 163, 163);
    
  }
  
  /* Clear floats after the columns */

p{
text-align: justify;  
padding: 5px;

}
  